<?xml version="1.0" encoding="utf-8" ?>
<definitions>
	<define var="db_host" value="localhost" />
	<define var="db_name" value="mylearn" />
	<define var="db_user" value="root" />
	<define var="db_user_pass" value="toor" />
	<define var="conf_nom" value="Iris - BDE Escape" />
	<define var="conf_description" value="Ecole" />
	<define var="conf_email" value="mylearn@moniris.com" />
	<define var="conf_date" value="17/02/2014" />
	<define var="installed" value="true" />
</definitions>