<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
	<route url="/" module="Cours" action="index" />
	<route url="/cours(\/?)" module="Cours" action="list_matiere" />
	<route url="/cours/ecrire-un-cours" module="Cours" action="ecrire" />
	<route url="/cours/supprimer-un-cours" module="Cours" action="supprimer" />
	<route url="/cours/modifier-([0-9]+)" module="Cours" action="modifier" vars="id" />
	<route url="/cours/([^/]+)" module="Cours" action="list_cours" vars="libelle" />
	<route url="/cours/(.+)/([0-9]+)" module="Cours" action="show" vars="libelle,id" />
	<route url="/contact" module="Contact" action="index" />
	<route url="/travaux-slam" module="Travaux" action="index" />
	<route url="/tutos" module="Tutos" action="index" />
	<route url="/connexion" module="Connexion" action="index" />
	<route url="/connexion/activer" module="Connexion" action="activate" />
	<route url="/connexion/mot-de-passe-perdu" module="Connexion" action="passReload" />
	<route url="/connexion/mot-de-passe-perdu/(.+)" module="Connexion" action="newPass" vars="token" />
	<route url="/connexion/logout/(.*)" module="Connexion" action="logout" vars="request" />
	<route url="/inscription" module="Connexion" action="subscribe" />
	<route url="/connexion/(.+)" module="Connexion" action="activate" vars="token" />
	<route url="/membre/mon-profil" module="Membre" action="index" />
	<route url="/membre/mon-profil/modifier-profil" module="Membre" action="modifierProfil" />
	<route url="/membre/mon-profil/modifier-mot-de-passe" module="Membre" action="modifierPass" />
	<route url="/membre/mes-cours" module="Membre" action="mesCours" />
	<route url="/membre/ma-configuration" module="Membre" action="maConfiguration" />
</routes>