<?xml version="1.0" encoding="utf-8" ?>
<definitions>
	<define var="db_host" value="FU/ElvnE677h" />
	<define var="db_name" value="FFnLkvTe6g==" />
	<define var="db_user" value="C0/Igw==" />
	<define var="db_user_pass" value="C0/Igw==" />
	<define var="conf_nom" value="ecole" />
	<define var="conf_description" value="Description pour la page de connexion" />
	<define var="conf_email" value="noreply@iris-bde.fr" />
	<define var="conf_contact" value="contact@iris-bde.fr" />
	<define var="conf_date" value="04/03/2014" />
	<define var="cryp_iv" value="RIhCO1VpVo4=" />
	<define var="cryp_key" value="SnZmaENaSUc2WGhvalljRnBlVUVWaEcy" />
	<define var="installed" value="true" />
</definitions>