<?xml version="1.0" encoding="utf-8" ?>
<definitions>
	<define var="version" value="1.0" />
	<define var="release" value="05/2014" />
	<define var="db_host" value="voOsw0TpoXf/" />
	<define var="db_name" value="v5Wjx0nzoA==" />
	<define var="db_user" value="oIOg1g==" />
	<define var="db_user_pass" value="oIOg1g==" />
	<define var="conf_nom" value="Ecole de test" />
	<define var="conf_description" value="Description pour la page de connexion" />
	<define var="conf_address" value="6-8 impasse des deux cousins" />
	<define var="conf_ville" value="Paris" />
	<define var="conf_cp" value="75017" />
	<define var="conf_tel" value="0130348670" />
	<define var="conf_email" value="adam.menebhi@gmail.Com" />
	<define var="conf_contact" value="adam.menebhi@gmail.com" />
	<define var="conf_date" value="11/06/2014" />
	<define var="cryp_iv" value="+JMFsLsgR0c=" />
	<define var="cryp_key" value="bFNLZUc3UGxsVm90MFFzemtMZFNlaXNZ" />
	<define var="smtp_host" value="oYG70gbmo2XiQCtbXiw=" />
	<define var="smtp_port" value="59T4" />
	<define var="smtp_user" value="s4iuzwbsq2ruTm1RcSb2u/mLkKMQ4A==" />
	<define var="smtp_pass" value="k6D2k0vs+zU=" />
	<define var="cours_page" value="5" />
	<define var="installed" value="true" />
</definitions>