<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
	<route url="/Json_098764DFVBU864REDERCTYUV/connexion/([^/].*)/(.*)" module="Connexion" action="connexion" vars="login,pass" />
	<route url="/Json_098764DFVBU864REDERCTYUV/([0-9]*)/matieres" module="Cours" action="listeMatieres" vars="id" />
	<route url="/Json_098764DFVBU864REDERCTYUV/matieres-([0-9]*)" module="Cours" action="listeCours" vars="id" />
	<route url="/Json_098764DFVBU864REDERCTYUV/cours-([0-9]*)" module="Cours" action="afficherCours" vars="id" />
</routes>